# Ren'Py specific
/game/autosave/
/game/saves/
/game/logs/
/game/tmp/
*.crashlog
*.tmp
*.rpyc
*.rpymc
*.rpyb
# Editor cache and temp files
/.renpy/
/.project
/.pydevproject
/.metadata
# Build artifacts
/dist/
/build/
/launcher/
# macOS specific
.DS_Store
*.swp
*~
.AppleDouble
.LSOverride
Icon?
Thumbs.db
ehthumbs.db
renpy_warp_1.35.0_76860b81.rpe.py
# Windows specific
$RECYCLE.BIN/
System Volume Information/

# Python Bytecode
__pycache__/
#  use pip install -r requirements.txt
.venv/
*.pyc
*.pyo
*.pyd

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other
*.bak
*.tmp
*.temp
*.orig
*.log
log.txt
errors.txt
image_cache.txt
traceback.txt